SEAW_DB_CONN=Driver=...;Db=...;User=...;Pwd=...
PG_CONN=postgresql+psycopg2://user:pwd@host:5432/db
BQ_CONN=bigquery://project/dataset
DQ_EMAILS=alerts@company.com,owner@company.com
GCHAT_DQ_WEBHOOK=https://chat.googleapis.com/v1/spaces/...