# db connections
PG_CONN=postgresql+psycopg2://user:pwd@host:5432/db
BQ_CONN=bigquery://project/dataset
DQ_EMAILS=jamshid.allayev@virginvoyages.com,alert@virginvoyages.com
GCHAT_DQ_WEBHOOK=https://chat.googleapis.com/v1/spaces/...

# alerts[email]
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
SMTP_STARTTLS=true
SMTP_FROM=dqf@company.com
DQ_EMAILS=data.team@company.com,qa@company.com

#alerts[gchat]
GCHAT_DQ_WEBHOOK=https://chat.googleapis.com/v1/spaces/AAAA/messages?key=...

